#transactionsTable .columnRight {
    -fx-alignment: CENTER-RIGHT;
}

#transactionsTable .no-category {
    -fx-text-fill: blue;
}

#transactionsTable .need-confirmation {
    -fx-background-color: #ffc1c3;
}

#transactionsTable .pretty-sure {
    -fx-background-color: #b9e7ff;
}

#transactionsTable .user-set {
    -fx-background-color: #b0ffbe;
}

#transactionsTable .inflow {
    -fx-background-color: #faffac;
}

#transactionsTable :selected .no-category {
    -fx-text-fill: #fff;
}

#transactionsTable :selected .need-confirmation {
    -fx-background-color: #6a0c00;
    -fx-text-fill: #fff;
}

#transactionsTable :selected .pretty-sure {
    -fx-background-color: #044661;
    -fx-text-fill: #fff;
}

#transactionsTable :selected .user-set{
    -fx-background-color: #126b12;
    -fx-text-fill: #fff;
}

#transactionsTable :selected .inflow {
    -fx-background-color: #a5a047;
    -fx-text-fill: #ffffff;
}

#transactionsTable #category {
    -fx-alignment: CENTER;
}
