#transactionsTable .columnRight {
    -fx-alignment: CENTER-RIGHT;
}

#transactionsTable .no-category {
    -fx-text-fill: blue;
}

#transactionsTable .need-confirmation {
    -fx-background-color: #ffc1c3;
}

#transactionsTable .pretty-sure {
    -fx-background-color: #b9e7ff;
}

.user-set {
    -fx-background-color: #c0ffa2;
}

#transactionsTable :selected .need-confirmation {
    -fx-background-color: #6a0c00;
}

#transactionsTable :selected .pretty-sure {
    -fx-background-color: #044661;
}

#transactionsTable :selected .user-set{
    -fx-background-color: #126b12;
}

#transactionsTable #category {
    -fx-alignment: CENTER;
}
